body {
	background-color: #dddddd;
	font-size: 64px;
}

#main--container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.spinner {
	position: relative;
}

.spinner:before, .spinner:after {
	content: "";
	position: relative;
	display: block;
}

.spinner:before {
	-webkit-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	width: 1em;
	height: 1em;
	background-color: #fff;
}

.spinner:after {
	-webkit-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
	bottom: -.5em;
	height: .25em;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes spinner {
	50% {
		border-radius: 50%;
		-webkit-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(720deg);
		transform: scale(1) rotate(720deg);
	}
}

@keyframes spinner {
	50% {
		border-radius: 50%;
		-webkit-transform: scale(0.5) rotate(360deg);
		transform: scale(0.5) rotate(360deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(720deg);
		transform: scale(1) rotate(720deg);
	}
}

@-webkit-keyframes shadow {
	50% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background-color: rgba(0, 0, 0, 0.1);
	}
}

@keyframes shadow {
	50% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		background-color: rgba(0, 0, 0, 0.1);
	}
}

