* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

body {
	background: #e2e2e2;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .box--container {
	width: 50%;
	height: 80%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	animation: rotate 1s ease infinite;
}

.container .box--container .box {
	position: relative;
}

.container .box--container .box .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	width: 50px;
	background: #222;
	border-radius: 50%;
}

.container .box--container .box .circle--one {
	animation: circle--one ease 1200ms infinite;
}

.container .box--container .box .circle--two {
	background: #fff;
	animation: circle--two ease 1200ms infinite;
}

@keyframes circle--one {
	0% {
		top: 50%;
	}
	50% {
		top: 120%;
	}
	100% {
		top: 50%;
	}
}

@keyframes circle--two {
	0% {
		top: 50%;
	}
	50% {
		top: -50%;
	}
	100% {
		top: 50%;
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
