@keyframes cube--rotate--one {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cube--rotate--two {
	0% {
		transform: rotate(45deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-135deg);
	}
	75% {
		transform: rotate(-225deg);
	}
	100% {
		transform: rotate(-315deg);
	}
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.cube--box {
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.cube--one {
	width: 115px;
	height: 115px;
	padding: 3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ff0000;
	animation: cube--rotate--one 3s ease-in-out 0s infinite alternate;
}

.cube--two {
	width: 115px;
	height: 115px;
	padding: 3px;
	left: -115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0000ff;
	transform: rotate(45deg);
	animation: cube--rotate--two 3s ease-in-out 0s infinite alternate;
}

.cube--main {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
